<li>
  <div class="mute">
    <a href="#" rel="tipsyt" title="Not interested" onclick="return Users.mute_suggest_item(this,'Topic','<%= topic.id %>');"></a>
  </div>
  <div class="info clearfix">
    <div class="item">
      <div class="left">
        <%= topic_cover_tag(topic,:small) %>
      </div>
      <div class="right">
        <%= topic_name_tag(topic, :prefix => "#") %>
        <div class="tagline">Topics</div>
      </div>
    </div>
    <div class="action">
      <a class="green_button small" href="#" onclick="return Topics.follow(this, '<%= topic.name %>','small');">Watch</a>
    </div>
  </div>
</li>
