<%= content_for :styles do %>
  <style type="text/css">
    #about {}
    #about h2 { border-top:1px dashed #ccc; padding-top:10px; margin-top:20px; margin-bottom:10px; font-size:14px; }
  </style>
<% end %>
<div id="about">
  <h1>About</h1>
  <div class="md_body">
    We are a group of programmers yearning for freedom and open, determined to build an open Q & A community site.<br />
    We are happy to share our project source code and design ideas, there is a non-profit purposes for individuals, companies use.
  </div>
  <h2>Team members</h2>
  <div class="team">
    <% @users.each do |u| %>
      <%= user_avatar_tag(u,:normal) %>
    <% end %>
  </div>
  <h2>Contributors</h2>
  <div class="contributors">
    <ul>
      <li><a href="https://github.com/saberma">Saberma</a></li>
			<li><a href="https://github.com/caili">caili</a></li>
			<li><a href="https://github.com/hooopo">Hooopo</a></li>
    </ul>
  </div>
</div>
<%= content_for :sidebar do %>
  <div class="box">
    <h2>Frequently Asked Questions</h2>
    <ul> 
      <li><a href="/">Why?</a></li> 
    </ul>
  </div>
<% end %>
